div div{
    background-color: dodgerblue;
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
    text-align: center;
   
}



.topo{
background-color: bisque;
height: 600px;
display: grid;
grid-template-columns: 200px 400px 200px   /*pode ser % ou px*/
gap: 10px 10px; 
justfy-content: space-between;
align-items: center; 

}


.menu{ 
background-color: aquamarine;
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
row-gap: 20px;




}













